.header {
    display: block;
    padding: 0.5rem;
       /* float: left;
        width: 73%;*/
        @media only screen and (min-width: $desktop) {    
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    
    img {
        height: 1.875rem;
        position: relative;
        top: 0.5rem;
        left: 0.625rem;
            @media only screen and (min-width: $tablette) {
                height: 3.125rem;
            }
    }
    &__nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none; /*remove point*/
        /*padding: 0.5rem; */
        padding: 0rem;   
        gap: 0.625rem;
    }
    &__title{
        position: absolute;
        top: 0.313rem;
        right: 0.625rem;
        font-size: 1.25rem;     
        @media only screen and (min-width: $tablette) {
            font-size: 2.25rem;
            top: -7px;
            white-space: nowrap;
            /*line-height: 47px;*/
            }   
            @media only screen and (min-width:  $desktop) {
                position: relative;
            }
    }
}




