@charset "UTF-8";
/*For primary background & secondary text*/
/*For secondary background & primary text*/
/*For tertiary text*/
/*For tertiary background*/
/*Border for tags*/
/*Mai page price style*/
/*General variables*/
/*Desktop size*/
/*Breakpoints*/
/* Main elements of the page */
html,
body {
  height: 100%;
  background: #fff;
  color: #901C1C;
  font-family: "DMSans";
  font-size: 1rem;
  margin: auto;
}

/*border-box tells the browser to account for any border and padding in the values specify for an element's width and height*/
* {
  box-sizing: border-box;
}

/*set max width*/
.header, #main {
  max-width: 1440px;
  margin: auto;
}

/*Help to avoid repeatedly added display:flex often*/
.d-flex {
  display: flex;
}

/*Set style for all links*/
a {
  color: #901C1C;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

@font-face {
  /* Définition of font called DM Sans*/
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;
  /* float: left;
   width: 73%;*/
}
@media only screen and (max-width: 768px) {
  .header {
    display: block;
  }
}
.header img {
  height: 3.125rem;
}
@media only screen and (max-width: 768px) {
  .header img {
    height: 1.875rem;
    position: relative;
    top: 0.5rem;
    left: 0.625rem;
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  /*remove point*/
  padding: 0.5rem;
  gap: 0.625rem;
}
.header__title {
  /*display: inline;*/
  font-size: 2.25rem;
  white-space: nowrap;
  /*line-height: 47px;*/
  position: relative;
}
@media only screen and (max-width: 768px) {
  .header__title {
    position: absolute;
    top: 0.313rem;
    right: 0.625rem;
    font-size: 1.25rem;
  }
}
.header__nav a {
  border: 0.5px solid #C4C4C4;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.3rem;
}
.header__nav a:hover {
  background: #901C1C;
  color: white;
  border: 1px solid #901C1C;
}

/*container that holds all the photographer cards*/
.photographers-container {
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid blue;
  margin-top: 20px;
}

/*styling for each photographer card/profile*/
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 305px;
  margin-bottom: 25px;
  border: 1px solid black;
}
.profile__portrait {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.profile__name {
  font-size: 36px;
  line-height: 47px;
  color: #D3573C;
  margin: 0;
}
.profile__address {
  font-size: 13px;
  /*line-height: 17px;*/
  color: #901C1C;
  margin: 4px;
}
.profile__tagline {
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin: 0;
}
.profile__price {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
  margin: 4px;
}

/*# sourceMappingURL=style.css.map */
