@charset "UTF-8";
/*For primary background & secondary text*/
/*For secondary background & primary text*/
/*For tertiary text*/
/*background for pass-to-content button*/
/*For tertiary background*/
/*Border for tags*/
/*Mai page price style*/
/*General variables*/
/*transition time for tag animation hover*/
/*Breakpoints*/
/* Main elements of the page */
html,
body {
  height: 100%;
  background: #fff;
  color: #901C1C;
  font-family: "DMSans";
  font-size: 1rem;
  margin: auto;
}

/*border-box tells the browser to account for any border and padding in the values specify for an element's width and height*/
* {
  box-sizing: border-box;
}

/*set max width*/
.header, #main {
  max-width: 1440px;
  margin: auto;
}

/*Help to avoid repeatedly added display:flex often*/
.d-flex {
  display: flex;
}

/*Set style for all links*/
a {
  color: #901C1C;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

ul {
  list-style: none;
}

@font-face {
  /* Définition of font called DM Sans*/
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* TAG FILTER BUTTONS */
.tags {
  border: 0.5px solid #C4C4C4;
  cursor: pointer;
  border-radius: 1rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  padding: 0.3rem;
  position: relative;
  z-index: 1;
}
.tags:hover, .tags:focus {
  color: white;
}
.tags:hover::after, .tags:focus::after {
  opacity: 1;
  /*set opacity to 1 so the layer is visible on hover*/
}
.tags::after {
  /*every mention of primary button creates a duplicate layer*/
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  background: #901C1C;
  color: white;
  border: 1px solid #901C1C;
  opacity: 0;
  /*layer hidden until hover*/
  z-index: -1;
  /*Z-index changes stacking order so background is behind*/
  transition: opacity 500ms;
  /*text but infront of original button background*/
}

/*Pass-to-content button */
.pass-to-maincontent {
  background: #DB8876;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  width: 182px;
  Top: 3px;
  left: 50%;
  /*center button*/
  margin-left: -91px;
  /* Negative half of width. */
  z-index: 10;
  transform: translateY(-110%);
  transition: transform 0.25s;
}

/*move button so visible*/
.pass-to-maincontent.is-visible {
  transform: translateY(0%);
}

/*move button so NOT visible*/
.pass-to-maincontent.is-hidden {
  transform: translateY(-110%);
}

.header {
  display: block;
  padding: 0.5rem;
  /* float: left;
   width: 73%;*/
}
@media only screen and (min-width: 1025px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.header img {
  height: 1.875rem;
  position: relative;
  top: 0.5rem;
  left: 0.625rem;
}
@media only screen and (min-width: 768px) {
  .header img {
    height: 3.125rem;
  }
}
.header__nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  /*remove point*/
  /*padding: 0.5rem; */
  padding: 0rem;
  gap: 0.625rem;
}
.header__title {
  position: absolute;
  top: 0.313rem;
  right: 0.625rem;
  font-size: 1.25rem;
}
@media only screen and (min-width: 768px) {
  .header__title {
    font-size: 2.25rem;
    top: -7px;
    white-space: nowrap;
    /*line-height: 47px;*/
  }
}
@media only screen and (min-width: 1025px) {
  .header__title {
    position: relative;
  }
}

/*container that holds all the photographer cards*/
.photographers-container {
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

/*styling for each photographer card/profile*/
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  min-width: 305px;
  margin-bottom: 25px;
}
.profile__portrait {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}
.profile__name {
  font-size: 36px;
  line-height: 47px;
  color: #D3573C;
  margin: 0;
}
.profile__address {
  font-size: 13px;
  /*line-height: 17px;*/
  color: #901C1C;
  margin: 4px;
}
.profile__tagline {
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin: 0;
}
.profile__price {
  font-size: 9px;
  line-height: 12px;
  font-weight: 400;
  color: #757575;
  margin: 4px;
}
.profile__tags {
  display: flex;
  padding: 0;
  margin: 4px;
  gap: 5px;
}

/*# sourceMappingURL=style.css.map */
