/* TAG FILTER BUTTONS */
.tags{
   border: 0.5px solid $tag-border;
   cursor: pointer;
   border-radius: 1rem;
   font-weight: 500;
   letter-spacing: 1px;
   font-size: 0.75rem;
   line-height: 1rem;
   text-align: center;
   padding: 0.3rem;
   position: relative;
   z-index: 1;  
   &:hover, &:focus {     
       color: white;      
       &::after {
           opacity: 1;    /*set opacity to 1 so the layer is visible on hover*/
       }
   }
   &::after{             /*every mention of primary button creates a duplicate layer*/  
       content:"";                
       position: absolute;    
       top: 0;                    
       right: 0;
       bottom: 0;
       left: 0;
       border-radius: 1rem;
       background: $primary;
       border: 1px solid $primary;
       opacity: 0;                   /*layer hidden until hover*/
       z-index: -1;                                    /*Z-index changes stacking order so background is behind*/
       transition: opacity $transition-timing;    /*text but infront of original button background*/     
   } 
}

/*PASS TO CONTENT BUTTON*/
.pass-to-maincontent{
    background: $buttonSecondaryColor;
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.313rem;
    text-align: center;
    border-radius: 0.313rem;
    position: fixed;
    width : 11.375rem;
    Top: 0.188rem;
    left: 50%;          /*center button*/
    margin-left: -5.688rem; /* Negative half of width. */
    z-index: 10;
    transform: translateY(-110%);
    transition: transform 0.25s;
}

/*move button so visible*/
.pass-to-maincontent.is-visible {
    transform: translateY(0%);
}
/*move button so NOT visible*/
.pass-to-maincontent.is-hidden {
    transform: translateY(-110%);
}


/*GENERIC BUTTON FOR CONTACT PHOTOGRAPHER*/
.contactBtn{
  font-family: "DMSans";
    width: 170px;
    height: 69px;
    border-radius: 5px;
    border: unset;
    position: fixed;
    left: 50%;
    margin-left: -85px;
    bottom: 30px;
    background: $primary;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    align-self: flex-start;
    z-index: 1;  
    transition: all 0.5s;
    &:hover, &:focus {     
        color: #000;      
        background: $buttonSecondaryColor;
      }
     @media only screen and (min-width: $desktop) {
       position: inherit;
       margin: unset;
       margin-right: 30%;
    }
 }

 /*DROPDOWN MENU BUTTON*/
 .custom-select-wrapper {
  position: relative;
 user-select: none;
  width: 170px;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  height: 69px;
  line-height: 60px;
  background: $primary;
  cursor: pointer;
  border-radius: 5px;
}

.custom-options {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  padding: 0;
  border-radius: 5px;
  background: $primary;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  /*pointer-events: none;*/
  z-index: 2;
  margin: unset;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  border-top: 1px solid #fff;
  height: 69px;
  line-height: 60px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: $buttonSecondaryColor;
    color: #000;
    border-radius: 5px;
  }
}

