/* TAG FILTER BUTTONS */
.tags{
   border: 0.5px solid $tag-border;
   cursor: pointer;
   border-radius: 1rem;
   font-weight: 500;
   letter-spacing: 1px;
   font-size: 0.75rem;
   line-height: 1rem;
   text-align: center;
   padding: 0.3rem;
   position: relative;
   z-index: 1;  
   &:hover, &:focus {     
       color: white;      
       &::after {
           opacity: 1;    /*set opacity to 1 so the layer is visible on hover*/
       }
   }
   &::after{             /*every mention of primary button creates a duplicate layer*/  
       content:"";                
       position: absolute;    
       top: 0;                    
       right: 0;
       bottom: 0;
       left: 0;
       border-radius: 1rem;
       background: $primary;
       color: white;
       border: 1px solid $primary;
       opacity: 0;                   /*layer hidden until hover*/
       z-index: -1;                                    /*Z-index changes stacking order so background is behind*/
       transition: opacity $transition-timing;    /*text but infront of original button background*/     
   } 
}

/*Pass-to-content button */
.pass-to-maincontent{
    background: $pass-to-content;
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.313rem;
    text-align: center;
    border-radius: 0.313rem;
    position: fixed;
    width : 11.375rem;
    Top: 0.188rem;
    left: 50%;          /*center button*/
    margin-left: -5.688rem; /* Negative half of width. */
    z-index: 10;
    transform: translateY(-110%);
    transition: transform 0.25s;
}

/*move button so visible*/
.pass-to-maincontent.is-visible {
    transform: translateY(0%);
}
/*move button so NOT visible*/
.pass-to-maincontent.is-hidden {
    transform: translateY(-110%);
}