/* TAG FILTER BUTTONS */
.tags{
   border: 0.5px solid $tag-border;
   cursor: pointer;
   border-radius: 1rem;
   font-weight: 500;
   letter-spacing: 1px;
   font-size: 0.75rem;
   line-height: 1rem;
   text-align: center;
   padding: 0.3rem;
   position: relative;
   z-index: 1;  
   &:hover, &:focus {     
       color: white;      
       &::after {
           opacity: 1;    /*set opacity to 1 so the layer is visible on hover*/
       }
   }
   &::after{             /*every mention of primary button creates a duplicate layer*/  
       content:"";                
       position: absolute;    
       top: 0;                    
       right: 0;
       bottom: 0;
       left: 0;
       border-radius: 1rem;
       background: $primary;
      /* border: 1px solid $primary; */
       opacity: 0;                   /*layer hidden until hover*/
       z-index: -1;                  /*Z-index changes stacking order so background is behind*/
       transition: opacity $transition-timing;    /*text but infront of original button background*/     
   } 
}

/*PASS TO CONTENT BUTTON*/
.pass-to-maincontent{
    background: $buttonSecondaryColor;
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 0.313rem;
    text-align: center;
    border-radius: 0.313rem;
    position: fixed;
    width : 11.375rem;
    Top: 0.188rem;
    left: 50%;              /*center button*/
    margin-left: -5.688rem; /* Negative half of width. */
    z-index: 10;
    transform: translateY(-110%);
    transition: transform 0.25s;
}

/*move button so visible*/
.pass-to-maincontent.is-visible {
    transform: translateY(0%);
}
/*move button so NOT visible*/
.pass-to-maincontent.is-hidden {
    transform: translateY(-110%);
}

/*BUTTON FOR CONTACT PHOTOGRAPHER*/
.contactBtn{
    font-family: "DMSans";
    width: 10.625rem;
    min-width: 10.625rem;
    height: 2.188rem;
    border-radius: 0.313rem;
    border: unset;
    position: fixed;
    left: 50%;
    margin-left: -5.313rem;
    bottom: 1.875rem;
    background: $primary;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 700;
    align-self: flex-start;
    z-index: 1;  
    transition: all 0.5s;
    &:hover, &:focus {     
        color: #000;      
        background: $buttonSecondaryColor;
      }
     @media only screen and (min-width: $desktop) {
       position: inherit;
       margin: unset;
       margin-right: 30%;
       width: 10.625rem;
       height: 4.313rem;
    }
 }

/*DROPDOWN MENU BUTTON*/
.dropdown {
display: none;
    @media only screen and (min-width: $mobilePlus) {
    display: block;
    position: relative;
    user-select: none;
    width: 10.625rem;
    margin-top: 0.625rem;
    &__selection {
      align-items: center;
    }
    &__title {
      min-width: 6.25rem;
      font-size: 1.125rem;
      font-weight: 700;
    }
      &__button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        height: 4.313rem;
        padding: 0rem 0.75rem;
        font-family: "DMSans";
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        line-height: 3.75rem;
        background: $primary;
        cursor: pointer;
        border-radius: 0.313rem;
        box-shadow: 0px 4px 12px 3px #d9d9d9;
        &:hover, &:focus {
          background-color: $buttonSecondaryColor;
          color: #000;
          border-radius: 0.313rem;
        }
      }
      &__icons{
        margin-left: 0.625rem;
      }
     
      &__orderlist {
        position: absolute;
        display: block;
        left: 100px;
        top: -1px;
        padding: 0rem 0.438rem;
        border-radius: 0.313rem;
        background: $primary;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        /*pointer-events: none;*/
        z-index: 2;
        margin: unset;
      }
    &__orderlist__option {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 0.313rem;
        font-size: 1.125rem;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        height: 4.313rem;
        line-height: 3.75rem;
        cursor: pointer;
        transition: all 0.5s;
        &:hover, &:focus {
          background-color: $buttonSecondaryColor;
          color: #000;
        }
        &--border{
          border-top: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
        &--Selected{
          background: $buttonSecondaryColor;
          color: #000;
        }
    }
  }
  .dropdown__selection.open .dropdown__orderlist {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

/*BUTTON FOR SUBMITTING A MESSAGE TO PHOTOGRAPHER*/
.sendBtn{
  font-family: "DMSans";
  letter-spacing: 1px;
  width: 10.625rem;
  height: 2.188rem;
  border-radius: 0.313rem;
  border: unset;
  background: $primary;
  color: #fff;
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 700;
  margin: auto;
  margin-top: 1.875rem;
  /*z-index: 1;  */
    @media only screen and (min-width: $mobilePlus) {
      height: 4.313rem;
      margin: unset;
      margin-top: 0.313rem;
    }
  }