/*background to cover whole page when modal appears*/
.lightbox-modal {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(192, 192, 192, 0.9);
   overflow: hidden;

   &__column {
      flex-direction: column;
      display: flex;
   }
   &__content {
      align-items: center;
      margin-bottom: 2.5rem;
   }
   &__controls {
      color: transparent;
      height: 1rem;
         @media only screen and (min-width: $tablette) {
            height: 1.875rem;
         }
         @media only screen and (min-width: $desktop) {
            height: 2.5rem;
         }
      &--close {
         padding: unset;
         align-self: flex-end;
         position:relative;
         top: 2.5rem;
         right: 0.313rem;
            @media only screen and (min-width: $tablette) {
               top: 3.125rem;
               left: 0rem;
            }
            @media only screen and (min-width: $desktop) {
               top: 3.75rem;
               left: 0.313rem;
            }
      }
   }
   &__media {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
      border-radius: 0.313rem;
      @media only screen and (min-width: $desktop) {
         max-height: 500px;
      }
      @media only screen and (min-width: $deskPlus) {
         max-height: 850px;
      }
   }
   &__title{
      font-size: 0.875rem;
      font-weight: 400;
      text-align: left;
      margin: unset;
         @media only screen and (min-width: $mobilePlus) {
            font-size: 1.5rem;
         }
   }
}

button {
   background: none;
   margin-bottom: 20px;
   border: none;
   cursor: pointer;
}
