/*background to cover whole page when modal appears*/
.lightbox-modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(192, 192, 192, 0.9);
   overflow: hidden;
   &__container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
   }
   &__column {
      flex-direction: column;
      display: flex;
   }
   &__content {
      align-items: center;
      margin-bottom: 2.5rem;
   }
   &__controls {
      color: transparent;
      height: 1.4rem;
         @media only screen and (min-width: $tablette) {
            height: 1.875rem;
         }
         @media only screen and (min-width: $desktop) {
            height: 2.5rem;
         }
      &--close {
         padding: unset;
         align-self: flex-end;
         position:relative;
         top: 2.5rem;
         right: 2px;
            @media only screen and (min-width: $tablette) {
               top: 3.125rem;
               left: 0rem;
            }
            @media only screen and (min-width: $desktop) {
               top: 3.75rem;
               left: 0.313rem;
            }
      }
   }
   &__media {
      max-width: 85vw;
      max-height: 90vh;
      object-fit: contain;
      border-radius: 0.313rem;
   }
   &__title{
      font-size: 0.875rem;
      font-weight: 400;
      text-align: left;
      margin: unset;
         @media only screen and (min-width: $mobilePlus) {
            font-size: 1.5rem;
         }
   }
}
/* General styling for all button elements*/
button {
   background: none;
   border: none;
   margin-bottom: 1.25rem;
   cursor: pointer;
}
