/*background to cover whole page when modal appears*/
.lightbox-modal {
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   background-color: #fff;
   overflow: hidden;

   &__column {
      flex-direction: column;
      display: flex;
   }
   &__content {
    /*  margin: 1% auto;*/
    margin: 5% auto;
   margin-left: 0.938rem;
      @media only screen and (min-width: $tablette) {
        /* max-width: 85%; */
         margin-left: 1.875rem;
      }
      @media only screen and (min-width: $tablette) {
         margin-left: 3.125rem;
      }
   }
   &__controls {
      color: transparent;
      height: 1rem;

      @media only screen and (min-width: $tablette) {
            height: 1.875rem;
         }
         @media only screen and (min-width: $desktop) {
            height: 2.5rem;
         }
     &--close {
         position: relative;
         right: 0.563rem;
         top: 3px;
         @media only screen and (min-width: $tablette) {
               right: 1.188rem;
            }
      }
   }
   &__media {
      max-width: 100%;
      max-height: 400px;
      object-fit: contain;
      border-radius: 0.313rem;
      @media only screen and (min-width: $mobileM) {
         max-height: 550px;
         max-width: 100%;
      }
      @media only screen and (min-width: $deskPlus) {
        max-height: 825px;
      }
   }
   &__title{
      font-size: 0.875rem;
      font-weight: 400;
      text-align: left;
      margin: unset;
      @media only screen and (min-width: $mobilePlus) {
         font-size: 1.5rem;
      }

   }
}

button {
   background: none;
    /*  margin-top: 45%;*/
      margin-bottom: 20px;
   border: none;
   cursor: pointer;
}
