/*background to cover whole page when modal appears*/
.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: auto;
   background-color: rgba(192, 192, 192, 0.98);
    /*background of modal form*/
   &__content {
      margin: 0 auto; /*margin: 5% auto;*/
      width: 100%;
      height: 100%;
      max-width: 41.813rem;
      background: $secondaryBackground;
      color: #000;
      padding: 0rem 0.938rem;
         @media only screen and (min-width: $tablette) {
            height: 56.25rem;
            margin: 2% auto;
            position: fixed;
            left: 50%;
            margin-left: -20.875rem;
         }
   }
   &__heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__title {
      font-size: 2.25rem;
      font-weight: 400;
      margin: unset;
         @media only screen and (min-width: $mobilePlus) {
            font-size: 3.125rem;
         }
         @media only screen and (min-width: $tablette) {
            font-size: 4rem;
         }
   }
   &__close {
      color: #fff;
      height: 1.875rem;
         @media only screen and (min-width: $mobilePlus) {
            height: 2.5rem;
         }
         @media only screen and (min-width: $tablette) {
            height: 3.125rem;
         }
   }
   &__photographerName {
      font-weight: 400;
      font-size: 2.25rem;
      margin: unset;
         @media only screen and (min-width: $mobilePlus) {
            font-size: 3.125rem;
         }
         @media only screen and (min-width: $tablette) {
            font-size: 4rem;
         }
   }
   &__body {
      font-size: 1.5rem;
      color: $modaltext;
      margin: auto;
         @media only screen and (min-width: $tablette) {
            font-size: 2.25rem;
         }
   }
   &__input {
      width: 100%;
      height: 3.25rem;
      font-size: 1.5rem;
         @media only screen and (min-width: $tablette) {
            height: 4.25rem;
         }
      &--message {
         height: 11.5rem;
         @media only screen and (min-width: $tablette) {
            height: 10.625rem;
         }
      }
   }
   &__error {
      color: #000;
      font-size: 0.938rem;
      text-align: left;
    }
}


