
@font-face {
    /* Définition of font called DM Sans*/
    font-family: "DMSans";
    src: url("../fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

