/*container that holds all the photographer cards*/
.photographers-container{
   justify-content: space-around;
   flex-wrap: wrap;
   margin-top: 1.25rem;
}
/*styling for each photographer card/profile*/
.profile{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 30%;
   min-width: 19.063rem;
   margin-bottom: 1.563rem;
   &__portrait {
      height: 15.625rem;
      width: 15.625rem;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1.25rem;
   }
   &__name{
      font-size: 2.25rem;
      line-height: 2.938rem;
      color: $secondary;
      margin: 0;
   }
   &__address{
      font-size: 0.813rem;
      letter-spacing: 1px;
      color: $primary;
      margin: 0.25rem;
   }
   &__tagline{
      font-size: 0.625rem;
      line-height: 0.813rem;
      letter-spacing: 1px;
      color:  #000000;
      margin: 0;
   }
   &__price{
      font-size: 0.563rem;
      letter-spacing: 1px;
      line-height: 0.75rem;
      font-weight: 400;;
      color: $price-color;
      margin: 0.25rem;
   }
   &__tags{
      display: flex;
      padding: 0;
      margin: 0.25rem;
      gap: 0.313rem;
   }
}