/*For primary background & secondary text*/
$primary: #901C1C;

/*For secondary background & primary text*/
$secondary: #D3573C;

/*For tertiary text*/
$tertiary-text: #525252;

/*background for pass-to-content button*/
$pass-to-content: #DB8876;

/*For tertiary background*/
$tertiary: #FAFAFA;

/*Border for tags*/
$tag-border:#C4C4C4;

/*Mai page price style*/
$price-color: #757575;


/*General variables*/

/*transition time for tag animation hover*/
$transition-timing: 500ms;

/*Breakpoints*/
$tablette: 768px;
$desktop: 1025px;
