/*For primary background & secondary text*/
$primary: #901C1C;

/*For secondary background & primary text*/
$secondary: #D3573C;
$secondaryBackground: #DB8876;

/*For tertiary text*/
$tertiary-text: #525252;

/*for modal*/
$modaltext: #312E2E;

/*background for pass-to-content button*/
$buttonSecondaryColor: #DB8876;

/*For tertiary background*/
$tertiary: #FAFAFA;

/*Border for tags*/
$tag-border:#C4C4C4;

/*Main page price style*/
$price-color: #757575;

/*transition time for tag animation hover*/
$transition-timing: 500ms;

/*Breakpoints*/
$mobileM: 375px;
$mobileL: 425px;
$mobilePlus: 600px;
$tablette: 768px;
$desktop: 1024px;
$deskPlus: 1100px;
