/*For primary background & secondary text*/
$primary: #901C1C;

/*For secondary background & primary text*/
$secondary: #D3573C;

/*For tertiary text*/
$tertiary-text: #525252;
/*For tertiary background*/
$tertiary: #FAFAFA;

/*Border for tags*/
$tag-border:#C4C4C4;


/*General variables*/

/*Desktop size*/
$fisheyelogo: 3.125rem;

/*Breakpoints*/
$tablette: 768px;